#map {
    height: 180px;
    background-color: grey;
}

.space-45 {
    margin-top: -45px;
}

.space-35 {
    margin-top: -35px;
}

.space-25 {
    margin-top: -25px;
}

.space-15 {
    margin-top: -15px;
}

.color-font {
    color: #001851;
}

.fondo-white {
    background-color: #fff
}

.fondo-azul {
    background-color: #001851
}

.fondo-negro {
    background-color: #000
}

#azul-corp {
    color: #001851;
}

#cyan-corp {
    color: #1AFBB5;
}

#magenta-corp {
    color: #FB1A8B;
}