.padding-top-header {
    // padding-top: 5vh;
}

.col-amount {
    background-color: #7366EE;
    color: #fff;
}


.title {
    margin-top: 15px;
    font-size: 2.3em;
}

.icon-more {
    font-size: 3rem;
    margin-top: 15px;
}

.card-option {
    min-height: 50px;
}

.icon-enter-option {
    font-size: 3em;
    float: right;
    align-self: center;
    margin-top: 0px;
}

.text-option {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: px;
}