<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="all-center-content">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Crear cuenta</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre completo</ion-label>
              <ion-input type="text" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>
            <ion-button size="large" expand="block" (click)="register()">Registrarse</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-button expand="block" fill="clear" color="primary" (click)="goToLogin()">
          ¿Ya tienes cuenta? Inicia Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>